
@{
    ViewData["Title"] = "關於我們";
}

<div class="container">
    <div class="row">
        <div class="col-5">

        </div>
        <div class="col-7">
            <h3>Jay's Shop</h3>
            <p>地址：高雄市前鎮區中華五路789號</p>
            <p>電話：07-1234567</p>
            <p>E-Mail：jayshop@gmail.com.tw</p>
        </div>
    </div>
    
</div>
<hr />
<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.5708185968692!2d120.30692371508421!3d22.59514980579358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0372ebc9d327%3A0x92317d11de68daf9!2z57Wx5LiA5aSi5pmC5Luj6LO854mp5Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1695028550935!5m2!1szh-TW!2stw"  style="width:100%;height:450px;border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>