@{
    ViewData["Title"] = "首頁";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <img src="~/photo/merchandise/日本 明治「gochi」軟糖.png" />
</div>
